body {
  background: linear-gradient(180deg, #1a0000, #3b0a0a, #1a0000);
  color: white;
}

.welcome {
  font-family: 'Metal Mania', cursive;
  color: #ff1e1e;
  text-shadow: 0 0 10px #ff0000, 0 0 20px #b00000, 0 0 40px #ff0000;
  font-size: 48px;
  text-align: center;
  margin-top: 100px;
}
/* Navbar */
.navbar {
  background-color: #1a0000 !important;
  border-bottom: 3px solid #ff0000;
  box-shadow: 0 0 15px #ff0000;
}

.navbar-brand {
  font-family: 'Metal Mania', cursive;
  color: #ff0000 !important;
  letter-spacing: 2px;
  text-shadow: 0 0 10px #ff0000;
}

.nav-link {
  color: #fc0606 !important;
  font-weight: bold;
  transition: 0.3s;
}

.nav-link:hover,
.nav-link.active {
  color: #ff0000 !important;
  text-shadow: 0 0 10px #ff0000;
}

/* Hero Section */
.hero {
  height: 100vh;
  background-image: url('foto1.jpg'); /* foto.1 */
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.hero-text {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.hero-text h1 {
  font-family: 'Metal Mania', cursive;
  color: #ff0000;
  font-size: 3em;
  text-shadow: 0 0 20px #ff0000;
}

footer {
  background-color: #111;
  color: #f70606;
  text-align: center;
  padding: 20px;
  border-top: 2px solid #ff0000;
}

/* ======== Bagian Tentang / Deskripsi ======== */
#tentang {
  background-color: #0d0d0d; /* hitam keabu-abuan */
  color: #f5f5f5; /* warna teks putih abu-abu lembut */
  padding: 80px 0;
  border-top: 3px solid #ff0000;
  border-bottom: 3px solid #ff0000;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.4);
}

#tentang h2 {
  color: #ff1e1e; /* judul merah */
  font-family: 'Metal Mania', cursive;
  text-shadow: 0 0 10px #ff0000, 0 0 20px #b00000;
}

#tentang p {
  color: #cccccc;
  font-size: 18px;
}

#tentang img {
  border: 2px solid #ff0000;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#tentang img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.9);
}

.kontak h2 {
  color: #ff1e1e;
  font-family: 'Metal Mania', cursive;
  font-size: 2.5em;
  text-shadow: 0 0 10px #ff0000, 0 0 25px #b00000;
  margin-bottom: 20px;
}

.kontak p, 
.kontak a {
  color: #cccccc;
  font-size: 18px;
  text-decoration: none;
}

.kontak a:hover {
  color: #ff0000;
  text-shadow: 0 0 8px #ff0000;
  transition: 0.3s;
}